* {
  font-family: "Fjalla One", sans-serif;
  background-color: rgb(244, 18, 56);
  text-align: center;
}
.simpler-name {
  font-family: "Fjalla One", sans-serif;
  text-align: center;
}
.login-box {
  text-align: center;
}

/*MODAL */
.transition-enter {
  transform: scale(0);
}
.transition-enter-active {
  transform: scale(1);
  transition: transform 1000ms ease;
}
.transition-exit {
  transform: scale(1);
}
.transition-exit-active {
  transform: scale(0);
  transition: transform 1000ms ease;
}

