* {
  font-family: "Fjalla One", sans-serif;
  background-color: rgb(244, 18, 56);
  text-align: center;
}
.simpler-name {
  font-family: "Fjalla One", sans-serif;
  text-align: center;
}
.login-box {
  text-align: center;
}
